.main {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 20% auto;
    grid-template-areas:
            "header header"
            "nav nav"
            "sidebar content"
            "footer footer";
}

.header {
    background-color: #dddddd;
    grid-area: header;
}

.nav {
    background-color: #dddddd;
    grid-area: nav;
}

.sidebar {
    background-color: green;
    grid-area: sidebar;
}

.content {
    background-color: #dd9955;
    grid-area: content;
}

.footer {
    background-color: #dddddd;
    grid-area: footer;
}