nav {
  text-align: center;

  ul {
    li {
      display: inline-block;
      list-style: none;

      a {
        color: #000;
        padding: 1em;
        text-decoration: none;
      }

      a:hover {
        background-color: #c6c6c6;
        transition: ease-in-out .1s;
      }
    }
  }
}